@import 'https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i';

@import url(modal.css);
@import url(responsive.css);

/*-------- Global --------*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

html {
	font-family: "Google Sans", sans-serif;
	font-weight: 100;
}

body {
	width: 60%;
	margin: auto;
	/* background-image: url(../images/BG.png); */
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.blue {
	color: #027BFF;
}

h1 {
	font-size: 40px;
	font-weight: 400;
	color: #17191A;
}

h2 {
	font-size: 35px;
	font-weight: 400;
	color: #17191A;
}

h5 {
	font-size: 20px;
	margin-top: 10px;
	color: #17191A;
}

p {
	color: #8F9EA5;
	opacity: 0.8;
	font-weight: 100;
	margin-top: 10px;
	font-size: 20px;
}

/*-------- Nav --------*/

.nav {
	display: flex;
	align-items: center;
	height: 100px;
}

.contactMe, .navIcons {
	flex: 1;
}

.navIcons {
	text-align: right;
}

.navIcons a, .contactMe a, .contactMe img {
	display: inline-block;
	vertical-align: middle;
}

.navIcons a {
	margin-left: 20px;
}

.navIcons a i{
	color: #17191A;
	font-size: 22px;
}

.contactMe a {
	color: #027BFF;
	text-decoration: none;
}

.contactMe img {
	margin-right: 10px;
}

/*-------- Landing --------*/

.landing {
	min-height: 100vh;
	position: relative;
}

.landingWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

ul {
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}

.landingL, .landingR {
	margin-top: 4em;
}

.scroll {
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: auto;
}


/*-------- Skills --------*/

.skills {
	text-align: center;
	margin-bottom: 20em;
}

.skills p {
	margin-bottom: 30px;
}

.skills img {
	width: 40px;
	margin: 0 15px;
}


/*-------- Work 01 --------*/

.work {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}

.work > .workText {
	position: absolute;
	top: 85px;
}

.work > .workText > .underline {
	display: block;
	background: #027BFF;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}

.work > .workImg {
	width: 85%;
	float: right;
	--webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	--moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work ul {
	position: absolute;
	bottom: 0;
	right: 86%;
}

.work ul li {
	margin-top: 20px;
	margin-right: 10px;
}

/*-------- Work 02 --------*/

.work2 {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}

.work2 > .workText {
	position: absolute;
	top: 85px;
	right: 0;
	text-align: right;
}

.work2 > .workText > .underline {
	display: block;
	background: #027BFF;
	height: 3px;
	width: 61px;
	margin-top: 5px;
	float: right;
}

.work2 > .workImg {
	width: 85%;
	float: left;
	--webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	--moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work2 ul {
	position: absolute;
	bottom: 0;
	left: 86%;
}

.work2 ul li {
	margin-top: 20px;
	margin-left: 10px;
}
/*-------- Work 01 and 02 --------*/

.work a, .work2 a {
	text-decoration: none;
	color: #17191A;
}

.work ul li a, .work2 ul li a {
	color: #8F9EA5;
	font-size: 13px;
}
.work ul li a:hover, .work2 ul li a:hover {
	color: #17191A;
}

.work ul, .work2 ul {
	margin-bottom: 30px;
}


/*-------- Footer --------*/

.footer {
	background-image: url(../images/Dribbble_Blue_Large.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 320px;
	padding-bottom: 7em;
	text-align: center;
}

.footer a {
	color: #027BFF;
	text-decoration: none;
}

.underlineSmall {
	display: block;
	height: 3px;
	width: 41px;
	margin: 5px auto 0 auto;
	background-color: #027BFF;
}