.contactModal {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.3);
}

.modalContent {
	--webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.3);
	--moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.3);
	box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.3);

	width: 300px;

	margin: 20% auto;
	padding: 20px;

	border-radius: 0.5em;
	background-color: white;

	text-align: right;

	animation-name: showModal;
	animation-duration: 0.7s;
}

.modalContent > p {
	text-align: center;
}
.closeBtn {
	font-size: 20px;
	color: #8F9EA5;
}

.closeBtn:hover, .closeBtn:focus {
	color: #17191A;
	cursor: pointer;
}

@keyframes showModal {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}