@media only screen and (max-width: 600px) {
	/*-------- Global --------*/
    body {
        min-width: 80%;
        max-width: 80%;
    }

    /*-------- Nav --------*/
    .nav {
    	flex-direction: column;
    	margin-top: 2em;
    }

    .navIcons {
		text-align: center;
	}

	.contactMe img{
		margin: 0px !important;
	}

	.navIcons a {
		margin: 10px;
	}

	/*-------- Landing --------*/
	.landingL {
		margin-top: 1em !important;
	}

    .landingWrapper {
    	flex-direction: column;
    	margin-bottom: 5em;
    }

    .landing > .landingWrapper > .landingR > img {
    	width: 90%;
    }

    .scroll {
    	display: none;
    }

    /*-------- Skills, Work, Work2 --------*/
    .work, .work2 {
		margin-bottom: 15em !important;
	}

	.skills {
		margin-top: 10em !important;
		margin-bottom: 10em !important;
	}
}